{%extends "base.html" %}
{%block tasksactive %}active{%endblock tasksactive %}
{% block body %}

<div class="container my-3">
    <h2 class="text-left">Here's the list of your tasks</h2>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">task title</th>
            <th scope="col">task description</th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ task.taskTitle }}</td>
            <td>{{ task.taskDesc }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>

{%endblock body %}